/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

html {
  color: #4a4a4a;
  font: 16px/1px 'Roboto', sans-serif; }

body {
  background-color: #fff;
  overflow-x: hidden; }

h1 {
  font-size: 4.5rem;
  word-wrap: break-word; }

h2 {
  font-size: 2.5rem;
  text-align: center; }

a:hover {
  color: #02a388; }

input,
a {
  outline: none; }

input,
.btn {
  border: 1px solid #4a4a4a;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  padding: 16px; }
  input:focus,
  .btn:focus {
    border-color: #02a388; }

.btn {
  background-color: #02a388;
  border-color: #02a388;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1s ease-out; }
  .btn:hover {
    background-color: #fff;
    color: #02a388; }

small {
  font-size: .8em; }

main h1 {
  margin-bottom: 60px;
  width: 100%; }

.header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  background-color: #000;
  box-sizing: border-box;
  height: 85px;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5; }
  .header nav {
    z-index: 2; }

.menu-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .menu-list > li {
    color: #fff;
    padding: 10px 0;
    position: relative; }
    .menu-list > li::after {
      border-right: 2px solid #fff;
      content: '';
      display: inline-block;
      height: 100%;
      margin: 0 17px 0 5px; }
    .menu-list > li:last-child::after {
      display: none; }
    .menu-list > li:hover > .menu-sub-list {
      display: block; }
    .menu-list > li a {
      vertical-align: top; }

.menu-sub-list {
  background-color: #000;
  border-radius: 8px;
  display: none;
  margin-left: -20px;
  padding: 10px 20px;
  position: absolute; }
  .menu-sub-list li {
    padding: 15px 0; }

.logo-wrap {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center; }

.logo {
  background: #fff url("../images/main/logotype.png") center no-repeat;
  background-color: #fff;
  border-radius: 50%;
  height: 70px;
  margin: 0 auto;
  width: 70px; }
  .logo a {
    display: block;
    height: 100%; }

.autorization-wrap {
  z-index: 2; }
  .autorization-wrap a:nth-child(2) {
    margin-left: 20px; }

.header-slider-wrap {
  margin-top: 85px;
  position: relative; }
  .header-slider-wrap h1 {
    color: #fff;
    font-style: italic;
    height: 155px;
    left: 50%;
    margin: -75px auto auto -215px;
    max-width: 430px;
    position: absolute;
    top: 50%; }

.header-slider {
  height: 450px;
  overflow: hidden;
  width: 100%; }
  .header-slider img {
    height: 100%;
    object-fit: cover;
    width: 100%; }

.our-works h2,
.examples-wrap h2,
.category h2,
footer h2 {
  background-color: #000;
  color: #fff;
  padding: 30px; }

.categories-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 145px auto 60px;
  max-width: 1100px; }

.cat-item {
  box-shadow: 2px 2px 7px 0 #000;
  box-sizing: border-box;
  max-width: 350px;
  transition: box-shadow .5s linear;
  width: 100%; }
  .cat-item:hover {
    box-shadow: 4px 4px 20px #000; }
    .cat-item:hover img {
      transform: scale(1.1); }
  .cat-item h5 {
    font-weight: bold;
    margin: 20px 0;
    text-align: center; }

.cat-img {
  height: 250px;
  overflow: hidden; }
  .cat-img img {
    height: 100%;
    object-fit: cover;
    transition: transform .5s linear;
    width: 100%; }

.category h1,
.users h1,
.res h1 {
  margin: 145px auto 60px;
  max-width: 1100px; }
.category input,
.users input,
.res input {
  vertical-align: middle; }

.category-all-img-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 60px auto;
  max-width: 1100px;
  width: 100%; }
  .category-all-img-wrap img {
    box-shadow: 2px 2px 7px 0 #000;
    height: 230px;
    margin: 5px;
    max-width: 350px;
    object-fit: cover;
    transition: all 1s ease-out;
    width: 100%; }
    .category-all-img-wrap img.filtered {
      opacity: 0;
      width: 0; }

.filter-wrap {
  position: relative; }
  .filter-wrap .help {
    background-color: #02a388;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    margin-right: -350px;
    opacity: 0;
    padding: 30px;
    position: absolute;
    right: 50%;
    top: -106px;
    width: 200px; }
    .filter-wrap .help::after {
      background: transparent;
      border: 26px solid transparent;
      border-bottom: 0;
      border-top-color: #02a388;
      bottom: -24px;
      content: '';
      display: block;
      left: 22px;
      position: absolute; }
  .filter-wrap:hover .help {
    opacity: 1;
    transition: opacity .5s ease-out; }

.examples-images-slider {
  margin: 60px auto;
  max-width: 1100px; }
  .examples-images-slider figure {
    position: relative; }
    .examples-images-slider figure img {
      box-shadow: 2px 2px 7px 0 #000;
      height: auto;
      max-width: 350px;
      vertical-align: middle;
      width: 100%; }
    .examples-images-slider figure figcaption {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      color: #02a388;
      font-size: 2rem;
      height: 100%;
      justify-content: center;
      left: 0;
      max-width: 350px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: 0;
      transition: opacity .3s linear;
      width: 100%; }
    .examples-images-slider figure:hover figcaption {
      opacity: 1; }
      .examples-images-slider figure:hover figcaption::before {
        background-color: #fff;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: .3;
        position: absolute;
        top: 0;
        width: 100%; }

.contacts {
  margin-bottom: 60px; }
  .contacts h1 {
    margin: 145px auto 60px;
    text-align: center; }

.contact-form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  max-width: 500px; }
  .contact-form input,
  .contact-form .btn {
    margin-top: 30px;
    width: 100%; }

#map {
  box-shadow: 4px 4px 25px 5px #4a4a4a;
  height: 450px;
  margin: 0 auto;
  max-width: 760px;
  width: 100%; }

.users-wrap {
  margin: 60px auto;
  max-width: 1100px; }

.user {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px; }
  .user img {
    box-shadow: 4px 4px 25px 5px #4a4a4a;
    height: 150px; }
  .user p {
    margin: 20px 0; }
    .user p > * {
      color: #02a388;
      font-weight: bold; }
  .user div {
    margin-left: 60px; }
  .user .user-works {
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 200px; }

footer {
  background-color: #181a1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  footer h2 {
    margin-bottom: 60px;
    width: 100%; }
  footer input {
    width: 300px; }
  footer p {
    padding-bottom: 30px;
    text-align: center;
    width: 100%; }

.sbm {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  vertical-align: middle; }
  .sbm i {
    background: url("../images/main/search-icon.png") no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px; }

.soc-wrap a {
  border: 1px solid #fff;
  border-radius: 8px;
  display: inline-block;
  margin: 0 10px;
  padding: 5px; }
  .soc-wrap a:hover {
    background-color: #02a388; }
.soc-wrap .soc {
  background-size: cover;
  display: inline-block;
  height: 25px;
  width: 25px; }

.f {
  background: url("../images/main/fb.png") no-repeat 0 0; }

.i {
  background: url("../images/main/inst.png") no-repeat 0 0; }

.search-wrap,
.soc-wrap {
  margin: 60px auto;
  max-width: 500px;
  text-align: center; }

.modal-outer {
  background-color: rgba(74, 74, 74, 0.4);
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity .5s ease-out;
  width: 100vw;
  z-index: 10; }
  .modal-outer.active {
    height: 100%;
    opacity: 1; }

.modal-contact {
  background-color: #fff;
  border-radius: 30px;
  box-sizing: border-box;
  height: 300px;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  padding: 30px;
  position: absolute;
  top: 50%;
  width: 400px; }
  .modal-contact form {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around; }

.res {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 85px; }
  .res div {
    margin: 0  10px 30px;
    max-width: 350px;
    text-align: center;
    width: 100%; }
  .res img {
    height: 238px;
    margin-bottom: 15px;
    object-fit: cover;
    width: 100%; }

@media (max-width: 1024px) {
  .categories-wrap {
    justify-content: space-around; }
    .categories-wrap .cat-item {
      margin-bottom: 30px; } }
@media (max-width: 768px) {
  .header nav,
  .header .autorization-wrap {
    display: none; }

  .header-slider {
    height: 100%; }

  .filter-wrap .help {
    margin-right: -300px; }

  .category-all-img-wrap {
    justify-content: center; } }
@media (max-width: 580px) {
  html {
    font-size: 14px; }

  h1 {
    left: 215px; }

  .filter-wrap .help {
    margin-right: 0;
    right: auto; }

  h2 input {
    margin-top: 30px; } }
@media (max-width: 400px) {
  .modal-contact {
    left: 0;
    margin-left: 0;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
