// start import files

@import 'reset';
@import 'slick';
@import url('https://fonts.googleapis.com/css?family=Roboto');

// end import files

//variables start

$main-color: #4a4a4a;
$active-color: #02a388;
$fond-color: #fff;
$bg-color: #000;
$footer-color: #181a1a;

//variables end

// misins start

@mixin flex-box {
  display: -webkit-box;      // OLD - iOS 6-, Safari 3.1-6 //
  display: -moz-box;         // OLD - Firefox 19- (buggy but mostly works) //
  display: -ms-flexbox;      // TWEENER - IE 10 //
  display: -webkit-flex;     // NEW - Chrome //
  display: flex;             // NEW, Spec - Opera 12.1, Firefox 20+ //
}

// mixins end

//main style start
html {
  color: $main-color;
  font: 16px/1px 'Roboto', sans-serif;
}

body {
  background-color: $fond-color;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5rem;
  word-wrap: break-word;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
}

a {
  &:hover {
    color: $active-color;
  }
}

input,
a {
  outline: none;
}

input,
.btn {
  border: 1px solid $main-color;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  padding: 16px;

  &:focus {
    border-color: $active-color;
  }
}

.btn {
  background-color: $active-color;
  border-color: $active-color;
  color: $fond-color;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1s ease-out;

  &:hover {
    background-color: $fond-color;
    color: $active-color;
  }
}

small {
  font-size: .8em;
}

main {
  h1 {
    margin-bottom: 60px;
    width: 100%;
  }
}
// main style end

// head section style start

.header {
  @include flex-box;

  align-items: center;
  background-color: $bg-color;
  box-sizing: border-box;
  height: 85px;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  nav {
    z-index: 2;
  }
}

.menu-list {
  @include flex-box;

  > li {
    color: $fond-color;
    padding: 10px 0;
    position: relative;

    &::after {
      border-right: 2px solid $fond-color;
      content: '';
      display: inline-block;
      height: 100%;
      margin: 0 17px 0 5px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &:hover > .menu-sub-list {
      display: block;
    }

    a {
      vertical-align: top;
    }
  }
}

.menu-sub-list {
  background-color: $bg-color;
  border-radius: 8px;
  display: none;
  margin-left: -20px;
  padding: 10px 20px;
  position: absolute;

  li {
    padding: 15px 0;
  }
}

.logo-wrap {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}

.logo {
  background: $fond-color url('../images/main/logotype.png') center no-repeat;
  background-color: $fond-color;
  border-radius: 50%;
  height: 70px;
  margin: 0 auto;
  width: 70px;

  a {
    display: block;
    height: 100%;
  }
}

.autorization-wrap {
  z-index: 2;

  a {
    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}

.header-slider-wrap {
  margin-top: 85px;
  position: relative;

  h1 {
    color: $fond-color;
    font-style: italic;
    height: 155px;
    left: 50%;
    margin: -75px auto auto -215px;
    max-width: 430px;
    position: absolute;
    top: 50%;
  }
}

.header-slider {
  height: 450px;
  overflow: hidden;
  width: 100%;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

// head section style end

// our-works section start

.our-works,
.examples-wrap,
.category,
footer {
  h2 {
    background-color: $bg-color;
    color: $fond-color;
    padding: 30px;
  }
}

.categories-wrap {
  @include flex-box;

  flex-wrap: wrap;
  justify-content: space-between;
  margin: 145px auto 60px;
  max-width: 1100px;
}

.cat-item {
  box-shadow: 2px 2px 7px 0 $bg-color;
  box-sizing: border-box;
  max-width: 350px;
  transition: box-shadow .5s linear;
  width: 100%;

  &:hover {
    box-shadow: 4px 4px 20px $bg-color;

    img {
      transform: scale(1.1);
    }
  }

  h5 {
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
  }

}

.cat-img {
  height: 250px;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    transition: transform .5s linear;
    width: 100%;
  }
}
// our-works section end

//categories section start
.category,
.users,
.res {
  h1 {
    margin: 145px auto 60px;
    max-width: 1100px;
  }

  input {
    vertical-align: middle;
  }
}

.category-all-img-wrap {
  @include flex-box;

  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 60px auto;
  max-width: 1100px;
  width: 100%;

  img {
    box-shadow: 2px 2px 7px 0 $bg-color;
    height: 230px;
    margin: 5px;
    max-width: 350px;
    object-fit: cover;
    transition: all 1s ease-out;
    width: 100%;

    &.filtered {
      opacity: 0;
      width: 0;
    }
  }
}

.filter-wrap {
  position: relative;

  .help {
    background-color: $active-color;
    border-radius: 30px;
    color: $fond-color;
    font-weight: bold;
    margin-right: -350px;
    opacity: 0;
    padding: 30px;
    position: absolute;
    right: 50%;
    top: -106px;
    width: 200px;

    &::after {
      background: transparent;
      border: 26px solid transparent;
      border-bottom: 0;
      border-top-color: $active-color;
      bottom: -24px;
      content: '';
      display: block;
      left: 22px;
      position: absolute;
    }
  }

  &:hover {
    .help {
      opacity: 1;
      transition: opacity .5s ease-out;
    }
  }
}

.examples-images-slider {
  margin: 60px auto;
  max-width: 1100px;

  figure {
    position: relative;

    img {
      box-shadow: 2px 2px 7px 0 $bg-color;
      height: auto;
      max-width: 350px;
      vertical-align: middle;
      width: 100%;
    }

    figcaption {
      @include flex-box;

      align-items: center;

      color: $active-color;
      font-size: 2rem;
      height: 100%;
      justify-content: center;
      left: 0;
      max-width: 350px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      text-align: center;
      top: 0;
      transition: opacity .3s linear;
      width: 100%;
    }

    &:hover {
      figcaption {
        opacity: 1;

        &::before {
          background-color: $fond-color;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          opacity: .3;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }


}
//categories section end

// contacts section styles start

.contacts {
  margin-bottom: 60px;

  h1 {
    margin: 145px auto 60px;
    text-align: center;
  }
}

.contact-form {
  @include flex-box;

  flex-direction: column;
  margin: 60px auto;
  max-width: 500px;

  input,
  .btn {
    margin-top: 30px;
    width: 100%;
  }
}

#map {
  box-shadow: 4px 4px 25px 5px $main-color;
  height: 450px;
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
}

// contacts section styles end
// users section start
.users-wrap {
  margin: 60px auto;
  max-width: 1100px;
}

.user {
  @include flex-box;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;

  img {
    box-shadow: 4px 4px 25px 5px $main-color;
    height: 150px;
  }

  p {
    margin: 20px 0;

    > * {
      color: $active-color;
      font-weight: bold;
    }
  }

  div {
    margin-left: 60px;
  }

  .user-works {
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 200px;

  }
}

// users section end
//footer section start
footer {
  background-color: $footer-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h2 {
    margin-bottom: 60px;
    width: 100%;
  }

  input {
    width: 300px;
  }

  p {
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
  }
}

.sbm {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  vertical-align: middle;

  i {
    background: url('../images/main/search-icon.png') no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    height: 30px;
    width: 30px;
  }
}

.soc-wrap {
  a {
    border: 1px solid $fond-color;
    border-radius: 8px;
    display: inline-block;
    margin: 0 10px;
    padding: 5px;

    &:hover {
      background-color: $active-color;
    }
  }

  .soc {
    background-size: cover;
    display: inline-block;
    height: 25px;
    width: 25px;
  }
}

.f {
  background: url('../images/main/fb.png') no-repeat 0 0;
}

.i {
  background: url('../images/main/inst.png') no-repeat 0 0;
}

.search-wrap,
.soc-wrap {
  margin: 60px auto;
  max-width: 500px;
  text-align: center;
}
// footer section end

//modal windows start

.modal-outer {
  background-color: rgba(74, 74, 74, .4);
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity .5s ease-out;
  width: 100vw;
  z-index: 10;

  &.active {
    height: 100%;
    opacity: 1;
  }
}

.modal-contact {
  background-color: $fond-color;
  border-radius: 30px;
  box-sizing: border-box;
  height: 300px;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  padding: 30px;
  position: absolute;
  top: 50%;
  width: 400px;

  form {
    @include flex-box;

    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
}
// modal windows end


// /result section start

.res {
  @include flex-box;

  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 85px;

  div {
    margin: 0  10px 30px;
    max-width: 350px;
    text-align: center;
    width: 100%;
  }

  img {
    height: 238px;
    margin-bottom: 15px;
    object-fit: cover;
    width: 100%;
  }

}
// media queries start

@media (max-width: 1024px) {

  .categories-wrap {
    justify-content: space-around;

    .cat-item {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    nav,
    .autorization-wrap {
      display: none;
    }
  }

  .header-slider {
    height: 100%;
  }

  .filter-wrap {
    .help {
      margin-right: -300px;
    }
  }

  .category-all-img-wrap {
    justify-content: center;
  }
}

@media (max-width: 580px) {
  html {
    font-size: 14px;
  }

  h1 {
    left: 215px;
  }

  .filter-wrap {
    .help {
      margin-right: 0;
      right: auto;
    }
  }

  h2 {
    input {
      margin-top: 30px;
    }
  }
}

@media (max-width: 400px) {

  .modal-contact {
    left: 0;
    margin-left: 0;
    width: 100%;
  }
}
// media queries end
